<clr-header>
  <div class="branding">
      <a href="#" class="nav-link">
          <clr-icon shape="group" style="color: white;"></clr-icon>
          <span class="title">MoniToreO Supervision</span>
      </a>
  </div>
    <div class="header-nav" [clr-nav-level]="1">
      <!--a href="#" class="nav-link" routerLink="/forums"><span class="nav-text">Forums</span></a-->
      <!--a href="#" class="nav-link" routerLink="/blogs"><span class="nav-text">Blogs</span></a-->
    </div>
    <div class="header-actions" >

         <a class="nav-link nav-icon" (click)="logout()" *ngIf="userService.isConnected()">
            <clr-icon shape="logout"></clr-icon>
          </a>
    </div>

</clr-header>
