<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="card-block">
            <dynamic-form
               [config]="config"
               #form="dynamicForm"
               (submit)="submit($event)">
             </dynamic-form>
             <pre>
               Archiving Date : {{t | json}}
             </pre>
          </div>
      </div>
        <div class="card">
            <div class="card-block">
                <p class="card-text">
                  <clr-datagrid class="datagrid-compact">
                    <clr-dg-column *ngFor="let key of keys" [clrDgField]="key">{{key}}</clr-dg-column>
                    <clr-dg-row *clrDgItems="let bean of beans" [clrDgItem]="bean">
                        <clr-dg-action-overflow>
                           <button class="action-item" (click)="onEdit(bean)">Edit</button>
                           <button class="action-item" (click)="onDelete(bean)">Delete</button>
                       </clr-dg-action-overflow>
                        <clr-dg-cell *ngFor="let key of keys" >{{bean | split:key | isdate}}</clr-dg-cell>
                    </clr-dg-row>
                    <clr-dg-footer>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} rows
                      <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                    </clr-dg-footer>
                  </clr-datagrid>
                </p>
            </div>
        </div>
</div>
